# **TOPIC: String Based Assignment Problem**

## 1. Write a program to reverse a string

In [ ]:
input_text = "Hello India"[::-1]
print(input_text)

aidnI olleH

## 2. Check if a string is a palindrome.

In [ ]:
 # function which return reverse of a string

 def isPalindrome(s):
  return s == s[::-1]


 # Driver code
 s = "malayalam"
 ans = isPalindrome(s)

if ans:
    print("Yes")
 else:
    print("No")

Yes

## 3. Convert a string to uppercase.

In [ ]:
input_string = input("Enter the string")
uppercase_string = input_string.upper()
print("Uppercase string:", uppercase_string)

Enter the string abhishek
Uppercase string:  ABHISHEK

## 4. Convert a string to lowercase.

In [ ]:
input_string = input("Enter the string")
lowercase_string = input_string.lower()
print("lowercase string:", lowercase_string)

Enter the string ABHISHEK1234
lowercase string:  abhishek1234

## 5. Count the number of vowels in a string.

In [ ]:
def count_vowel(string):
  vowel_count = 0
  string = string.lower()
  vowels = set("aeiou")
  for char in string:
    if char in string:
      if char in vowels:
          vowel_count += 1

  return vowel_count

input_string = "newdelhi"
result = count_vowel(input_string)
print("Number of vowels:", result)

Number of vowels: 3

## 6. Count the number of consonants in a string.

In [ ]:
def count_consonants(string):
  consonants_count = 0
  consonants = "bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ"
  for char in string:
    if char in consonants:
      consonants_count += 1

  return consonants_count


input_string = input("Enter a string: ")

result = count_consonants(input_string)
print("Number of consonants:", result)

Enter a string: INDIAN
Number of consonants: 3

## 7. Remove all whitespaces from a string.

In [ ]:
def remove_whitespace(input_string):
  result = ""
  for char in input_string:
    if char != " ":
      result += char

  return result

input_string = " Hello Abhishek! how are you ?"
output_string = remove_whitespace(input_string)
print(output_string)

HelloAbhishek!howareyou?

## 8. Find the length of a string without using the `len()` function.

In [ ]:
count = 0

for char in input_string:
  count += 1

print("The length of the string is: ", count)

The length of the string is:  30

## 9. Check if a string contains a specific word.

In [ ]:
input_string = input("Enter the string:")
specific_word = input("Enter the specific word to check for : ")

if specific_word in input_string :
  print (f"the string contains word '{specific_word}'.")
else:
    print(f"The string does not contain the word'{specific_word}'.")

Enter the string: my name is Abhishek and I am studying data science
Enter the specific word to check for : united
The string does not contain the word'united'.

## 10. Replace a word in a string with another word.

In [ ]:
input_string = input ("Enter a sentence :")
old_word = input("Enter the word to be replaced: ")
new_word = input("Enter the new word: ")

modified_string = input_string.replace(old_word, new_word)
print("modified string:", modified_string)

Enter a sentence :Good evening
Enter the word to be replaced: evening
Enter the new word: morning
modified string: Good morning

## 11. Count the occurrences of a word in a string.

In [ ]:
def count_word_occurrences(input_string, target_word):
  word_count = 0
  word = input_string.split()
  for word in word:
    if word == target_word:
      word_count += 1

  return word_count

input_string = "this is a complex sentence. This sentence contain the word 'complex' multiple times."
target_word = "complex"

target_word = "complex"

result = count_word_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {result} times in the input string.")

The word 'complex' appears 1 times in the input string.

## 12. Find the first occurrence of a word in a string.

In [ ]:
def find_first_occurrence(text, word) :
  index = text.find(word)
  if index == -1:
    return None

  return index

text = "This is a passive sentence. this sentence contains the word passive"
word = "passive"
result = find_first_occurrence(text, word)
print("Index of the first occurance:", result)

Index of the first occurance: 10

## 13. Find the last occurrence of a word in a string.

In [ ]:
def find_last_occurrence(text, word) :
  index = text.rfind(word)
  if index == -1:
    return None

  return index

text = "This is a passive sentence. this sentence contains the word passive"
word = "passive"
result = find_last_occurrence(text, word)
print("Index of the last occurance:", result)

Index of the last occurance: 60

## 14. Split a string into a list of words.

In [ ]:
def split_string_into_words(text):
  words_list = text.split()

  return words_list

text = "this is a complex sentence."
words = split_string_into_words(text)
print("List of words:", words)

List of words: ['this', 'is', 'a', 'complex', 'sentence.']

## 15. Join a list of words into a string.

In [ ]:
def join_words_into_string(words_list):
   joined_string = ' '.join(words_list)

   return joined_string

words = ["This", "is", "a", "complex","sentence."]
text = join_words_into_string(words)
print("joined String:", text)

joined String: This is a complex sentence.

## 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:
def convert_to_underscore_seperated(text):
  underscore_seperated = text.replace(" ", "_")

  return underscore_seperated

text = "This is an itrogative sentence."
converted_text = convert_to_underscore_seperated(text)
print("Converted text:", converted_text)

Converted text: This_is_an_itrogative_sentence.

## 17. Check if a string starts with a specific word or phrase.

In [ ]:
def start_with_word(input_string,target_word):
  return input_string.startswith(target_word)

input_string = "how are you"
target_word = "how"

if start_with_word(input_string, target_word):
    print(f"the string start with '{target_word}'.")
else:
    print (f"the string does not start with '{target_word}'.")

the string start with 'how'.

## 18. Check if a string ends with a specific word or phrase.

In [ ]:
def end_with_word(input_string,target_word):
  return input_string.endswith(target_word)

input_string = "how are you?"
target_word = "you"

if end_with_word(input_string, target_word):
    print(f"the string end with '{target_word}'.")
else:
    print (f"the string does not end with '{target_word}'.")

the string does not end with 'you'.

## 19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
def to_title_case(input_string):
  return input_string.title()

#Example usage :
input_string = "hello world"
title_case_string = to_title_case(input_string)

print (f"Original string : {input_string}")
print(f"Title case string : {title_case_string}")

Original string : hello world
Title case string : Hello World

## 20. Find the longest word in a string.

In [ ]:
def find_longest_word(text):
  words = text.split()

  longest_word = ""
  max_length = 0

  for word in words:
    if len(word) > max_length:
      max_length = len(word)
      longest_word = word
  return longest_word

#Example usage
text =  "India is the country and its capital is Newdelhi"
longest_word = find_longest_word(text)
print("Longest word:", longest_word)

Longest word: Newdelhi

## 21. Find the shortest word in a string.

In [ ]:
def find_shortest_word(text):
  words = text.split()

  shortest_word = None
  min_length = float('inf')

  for word in words:
    if len(word) < min_length:
      min_length = len(word)
      shortest_word = word
  return shortest_word

#Example usage
text =  "India is the country and its capital is Newdelhi"
shortest_word = find_shortest_word(text)
print("shortest word:", shortest_word)

shortest word: is

## 22. Reverse the order of words in a string.

In [ ]:
def reverse_words_order(input_string):
  words = input_string.split()
  reversed_words = ' '.join(reversed(words))
  return reversed_words

#example usage:
input_string = "My name is Abhishek"

reversed_string = reverse_words_order(input_string)

print(f"original string :{input_string}")
print(f'Reverse string : {reversed_string}')

original string :My name is Abhishek
Reverse string : Abhishek is name My

## 23. Check if a string is alphanumeric.

In [ ]:
def is_alphanumeric(input_string):
  return input_string.isalnum()

#Example usage
test_string1 = "HelloWorld123"
test_string2 = "Edition@123"

if is_alphanumeric(test_string1):
  print(f"{test_string1} is alphanumeric.")
else :
  print(f"{test_string1} is not alphanumeric.")

if is_alphanumeric(test_string2):
  print(f"{test_string2} is alphanumeric.")
else :
  print(f"{test_string2} is not alphanumeric.")

HelloWorld123 is alphanumeric.
Edition@123 is not alphanumeric.

## 24. Extract all digits from a string.

In [ ]:
def extract_digits(text):
  digit = ""
  for char in text :
    if char.isdigit():
      digit += char
  return digit

#example usage
text = "Abhishek1234Abhishek4567"
extracted_digits = extract_digits(text)
print ("Extracted digit :",extracted_digits )

Extracted digit : 12344567

## 25. Extract all alphabets from a string.

In [ ]:
def extract_alphabets(input_string):
  return ''.join(char for char in input_string if char.isalpha())

#Example usage
input_string = "The price of the shirt is $345.12 in this shop"

alphabets = extract_alphabets(input_string)

print(f"the extracted alphabets are :{alphabets}")

the extracted alphabets are :Thepriceoftheshirtisinthisshop

### 26. Count the number of uppercase letters in a string.

In [ ]:
def count_uppercase_letters(input_string):
  count = 0
  for char in input_string:
    if char.isupper():
      count += 1
  return count

#example usage
input_string = " Hello World! This is an India."
uppercase_count = count_uppercase_letters(input_string)

print (f"The number of uppercase letter is : {uppercase_count}")

The number of uppercase letter is : 4

## 27. Count the number of lowercase letters in a string.

In [ ]:
def count_lowercase_letters(input_string):
  count = 0
  for char in input_string:
    if char.islower():
      count += 1
  return count

#example usage
input_string = " Hello World! This is an India."
lowercase_count = count_lowercase_letters(input_string)

print (f"The number of lowercase letter is : {lowercase_count}")

The number of lowercase letter is : 19

## 28. Swap the case of each character in a string.

In [ ]:
def swap_case (input_string):
  return input_string.swapcase()

#example usage
input_string = "Hey, I am AbhiShek, I lived in BENGALURU"
swapped_string = swap_case(input_string)

print(f"Original string : {input_string}")
print(f"Swapped case string : {swapped_string}")

Original string : Hey, I am AbhiShek, I lived in BENGALURU
Swapped case string : hEY, i AM aBHIsHEK, i LIVED IN bengaluru

## 29. Remove a specific word from a string.

In [ ]:
def remove_word(input_string, word_to_remove):
  return input_string.replace(word_to_remove, '')

#Example usage:
input_string = "India is my country. All Indians are my brothers and sisters"

word_to_remove = 'sisters'
modified_string = remove_word(input_string, word_to_remove)

print(f"original string: {input_string}")
print(f"string after removing '{word_to_remove}': {modified_string}")

original string: India is my country. All Indians are my brothers and sisters
string after removing 'sisters': India is my country. All Indians are my brothers and

## 30. Check if a string is a valid email address.

In [ ]:
import re

def is_valid_email(email):
  pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
  match = re.match(pattern, email)

  return match is not None

#example usage
email1 = "user@example.com"
email2 = "invalid-email"
email3 = "user@subdomin.example.co.ik"

print(f"Is '{email1}' a valid email? {is_valid_email(email1)}")
print(f"Is '{email2}' a valid email? {is_valid_email(email2)}")
print(f"Is '{email3}' a valid email? {is_valid_email(email3)}")

Is 'user@example.com' a valid email? True
Is 'invalid-email' a valid email? False
Is 'user@subdomin.example.co.ik' a valid email? True

## 31. Extract the username from an email address string.

In [ ]:
def extract_protocol(url):
  protocol_end = url.find(":/")

  if protocol_end != -1:
    protocol = url[:protocol_end]
    return protocol
  else :
    return None

#Example URL strings
url1 = "https://wikipedia.com"
url2 = "http://google.com"
url3 = "ftp://example.com"

#Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

#print extracted protocols
print("Protocol 1 :", protocol1)
print("Protocol 2 :", protocol2)
print("Protocol 3 :", protocol3)

Protocol 1 : https
Protocol 2 : http
Protocol 3 : ftp

## 32. Extract the domain name from an email address string.

In [ ]:
def extract_domain(email):
  domain = email.split('@')[1]
  return domain

email = "Abhishek@email.com"
result = extract_domain(email)
print(result)

email.com

## 33. Replace multiple spaces in a string with a single space.

In [ ]:
def replace_multiple_spaces(input_string):
  cleaned_string = ' '.join(input_string.split())
  return cleaned_string

input_string = "Hello       Abhishek! How     Are   You?"
result = replace_multiple_spaces(input_string)
print(result)

Hello Abhishek! How Are You?

### 34. Check if a string is a valid URL.

In [ ]:
from urllib.parse import urlparse

def is_valid_url(url):
  try :
    result = urlparse(url)
    return all([result.scheme, result.netloc])
  except ValueError :
    return False

#Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)

print(result1)
print(result2)

True
False

## 35. Extract the protocol (http or https) from a URL string.

In [ ]:
def extract_protocol(url):
    protocol_end = url.find("://")

    if protocol_end != -1:
      protocol = url[:protocol_end]
      return protocol
    else :
      return None



#Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://example.com"

protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

print("protocol 1:",protocol1)
print("protocol 2", protocol2)
print("protocol 3", protocol3)

protocol 1: https
protocol 2 http
protocol 3 ftp

## 36. Find the frequency of each character in a string.

In [ ]:
def character_frequency(input_string):
  frequency = {}
  for char in input_string:
    if char in frequency:
      frequency[char] += 1
    else :
      frequency[char]= 1
  return frequency

#example usage
input_string = "hello world"
char_freq = character_frequency(input_string)

for char,freq in char_freq.items():
  print(f"character: '{char}', Frequency: {freq}")

character: 'h', Frequency: 1
character: 'e', Frequency: 1
character: 'l', Frequency: 3
character: 'o', Frequency: 2
character: ' ', Frequency: 1
character: 'w', Frequency: 1
character: 'r', Frequency: 1
character: 'd', Frequency: 1

## 37. Remove all punctuation from a string.

In [ ]:
import string
def remove_punctuation(input_string):
  translator = str.maketrans("","", string.punctuation)
  clean_string = input_string.translate(translator)

  return clean_string

input_string = "Hello, Abhishek! How's it going?"
cleaned_string = remove_punctuation(input_string)

print("Original String:", input_string )
print("Cleaned_String:", cleaned_string)

Original String: Hello, Abhishek! How's it going?
Cleaned_String: Hello Abhishek Hows it going

## 38. Check if a string contains only digits.

In [ ]:
def contain_only_digit(input_string):
  return input_string.isdigit()

string1 = "1234321"
string2 = "Hello1234"
string3 = "9874,341"

result1 = contain_only_digit(string1)
result2 = contain_only_digit(string2)
result3 = contain_only_digit(string3)

print(f"'{string1}',contain_only_digit:", result1)
print(f"'{string2}',contain_only_digit:", result2)
print(f"'{string3}',contain_only_digit:", result3)

'1234321',contain_only_digit: True
'Hello1234',contain_only_digit: False
'9874,341',contain_only_digit: False

## 39. Check if a string contains only alphabets.

In [ ]:
def contain_only_alphabets(input_string):
  return input_string.isalpha()

string1 = "Abhishek"
string2 = "Hello1234"
string3 = "9874,341"

result1 = contain_only_alphabets(string1)
result2 = contain_only_alphabets(string2)
result3 = contain_only_alphabets(string3)

print(f"'{string1}',contain_only_alphabets:", result1)
print(f"'{string2}',contain_only_alphabets:", result2)
print(f"'{string3}',contain_only_alphabets:", result3)

'Abhishek',contain_only_alphabets: True
'Hello1234',contain_only_alphabets: False
'9874,341',contain_only_alphabets: False

## 40. Convert a string to a list of characters.

In [ ]:
def string_to_list(input_string):
  char_list = list(input_string)
  return char_list

input_string = "Hello, Abhishek"
char_list = string_to_list(input_string)

print("original_string :", input_string)
print("List of Characters:", char_list)

original_string : Hello, Abhishek
List of Characters: ['H', 'e', 'l', 'l', 'o', ',', ' ', 'A', 'b', 'h', 'i', 's', 'h', 'e', 'k']

## 41. Check if two strings are anagrams.

In [ ]:
def are_anagrams(string1,string2):
  string1 = string1.replace(" ","").lower()
  string2 = string2.replace(" ","").lower()

  return sorted(string1) == sorted(string2)

#Example String
string1 = "listen"
string2 = "silent"
String3 = "hey"
string4 = "India"

result1 = are_anagrams(string1,string2)
result2 = are_anagrams(string3,string4)

print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'India' are anagrams: False

## 42. Encode a string using a Caesar cipher.

In [ ]:
def caesar_cipher_encrypt(plaintext, shift):
    encrypted_text = ""

    for char in plaintext:
        if char.isalpha():
            is_upper = char.isupper()
            shifted_char = chr((ord(char) + shift - ord('A' if is_upper else 'a')) % 26 + ord('A' if is_upper else 'a'))
            encrypted_text += shifted_char
        else:
            encrypted_text += char

    return encrypted_text


#Example usage
plaintext = "Hello, World!"
shift_amount = 3
encrypted_text = caesar_cipher_encrypt(plaintext, shift_amount)

print(f"Original: {plaintext}")
print(f"Encrypted: {encrypted_text}")

Original: Hello, World!
Encrypted: Khoor, Zruog!

## 43. Decode a Caesar cipher encoded string.

In [ ]:
def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""

    for char in encrypted_text:
        if char.isalpha():
            is_upper = char.isupper()
            shifted_char = chr((ord(char) - shift - ord('A' if is_upper else 'a')) % 26 + ord('A' if is_upper else 'a'))
            decrypted_text += shifted_char
        else:
            decrypted_text += char

    return decrypted_text

# Example usage
encrypted_text = "KHOOR, ZRUOG!"
shift_amount = 3
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift_amount)

print(f"Encrypted: {encrypted_text}")
print(f"Decrypted: {decrypted_text}")

Encrypted: KHOOR, ZRUOG!
Decrypted: HELLO, WORLD!

## 44. Find the most frequent word in a string.

In [ ]:
import re
from collections import Counter

def most_frequent_word(input_string):
  clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

  words = clean_string.split()
  word_counter = Counter(words)

  most_common_word = word_counter.most_common(1)[0][0]
  return most_common_word

input_str = "Hello Abhishek, hello mohit! How's the game?"

most_common = most_frequent_word(input_str)

print("Most frequent word:", most_common)

Most frequent word: hello

## 45. Find all unique words in a string.

In [ ]:
import re
def unique_words(input_string):

    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = set(clean_string.split())
    return words

input_str = "Hello world, hello there! How's the world?"

unique_word_set = unique_words(input_str)

print("Unique words:", unique_word_set)

Unique words: {'world', 'hello', 'the', 'there', 'hows'}

## 46. Count the number of syllables in a string.

In [ ]:
import re
def count_syllables(word):
  vowel_groups = re.findall(r'[aeiouy]+' , word, re.IGNORECASE)
  return len(vowel_groups)

word1 = "hello"
word2 = "eye"
word3 = "babana"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

print(f"'{word1}' has {syllables1}, syllables")
print(f"'{word2}' has {syllables2}, syllables")
print(f"'{word3}' has {syllables3}, syllables")

'hello' has 2, syllables
'eye' has 1, syllables
'babana' has 3, syllables

## 47. Check if a string contains any special characters.

In [ ]:
import re
def contain_special_characters(input_string):
  special_char_pattern = re.compile(r'[^a-zA-Z0-9]')
  return bool (special_char_pattern.search(input_string))

string1 = "hello123"
string2 = "Hello@India"

result1 = contain_special_characters(string1)
result2 = contain_special_characters(string2)

print(f"'{string1} contain special character: {result1}")
print(f"'{string2} contain special character: {result2}")

'hello123 contain special character: False
'Hello@India contain special character: True

## 48. Remove the nth word from a string.

In [ ]:
def remove_nth_word(input_string, n):
  words = input_string.split()

  if n>=1 and n<= len(words):
    remove_word = words.pop(n - 1)
    modified_string = ' '.join(words)

    return modified_string, removed_word
  else:
    return None, None

#Example string and n value
input_str = " This is a sample sentence to demonstrate removing the nth word."
n_value = 4

modified_str, removed_word = remove_nth_word(input_str, n_value)


print("Original string:", input_str)
if modified_str is not None:
  print("Modified string:", modified_str)
  print("Remove word:", removed_word)
else:
  print("Invalid n value")

Original string:  This is a sample sentence to demonstrate removing the nth word.
Modified string: This is a sentence to demonstrate removing the nth word.
Remove word: sample

## 49. Insert a word at the nth position in a string.

In [ ]:
def insert_word_at_nth_position(input_string, n, new_word):
  word = input_string.split()
  if 0 <= n <= len(word):
    word.insert(n, new_word)
    result_string = ' '.join(word)
    return result_string
  else:
    return " Invalid index for word insertion"

#example usage
original_string = "This is a sample sentence to demonstrate inserting a word"
n_to_insert = 3
word_to_insert = "new_word"

result = insert_word_at_nth_position(original_string,n_to_insert, word_to_insert)
print("Original String :", original_string)
print(f"String after inserting'{word_to_insert}' at the {n_to_insert}th position:", result)

Original String : This is a sample sentence to demonstrate inserting a word
String after inserting'new_word' at the 3th position: This is a new_word sample sentence to demonstrate inserting a word

## 50. Convert a CSV string to a list of lists.

In [ ]:
def csv_string_to_list(csv_string):
  lines = csv_string.split('\n')
  result = []
  for line in lines :
    fields = line.split(',')
    result.append(fields)
  return result

#Example of csv string
csv_data = "Name, Age, Gender, City\nMohit, 21, Male, Kanpur\nAbhishek, 23, Male, Mumbai\n Pooja, 25, Female, Nagpur"

list_of_lists = csv_string_to_list(csv_data)

for row in list_of_lists:
  print(row)

['Name', ' Age', ' Gender', ' City']
['Mohit', ' 21', ' Male', ' Kanpur']
['Abhishek', ' 23', ' Male', ' Mumbai']
[' Pooja', ' 25', ' Female', ' Nagpur']

# **TOPIC: List Based Practice Problem**

## 1. Create a list with integers from 1 to 10.

In [ ]:
integer_list = [i for i in range(1,11)]
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 2. Find the length of a list without using the `len()` function.

In [ ]:
def custom_len(input_list):
  count = 0
  for _ in input_list:
    count += 1
  return count

my_list = [1,2,3,4,5,6,]
length = custom_len(my_list)

print("Length of the list:" , length )

Length of the list: 6

## 3. Append an element to the end of a list.

In [ ]:
my_list = [23,4,56,67,8]
new_element = 20

my_list.append(new_element)
print("updated_list", my_list)

updated_list [23, 4, 56, 67, 8, 20]

## 4. Insert an element at a specific index in a list.

In [ ]:
my_list = [1,2,3,4,5,6]
new_element = 70
index_to_insert = 3

my_list.insert(index_to_insert, new_element)

print("updated list", my_list )

updated list [1, 2, 3, 70, 4, 5, 6]

## 5. Remove an element from a list by its value.

In [ ]:
my_list = [5,10,15,20,25,30]
element_to_remove = 15

my_list.remove(element_to_remove)

print("Updated List", my_list)

Updated List [5, 10, 20, 25, 30]

## 6. Remove an element from a list by its index.

In [ ]:
my_list = [1,2,3,4,5,6,7]
index_to_remove = 4
remove_element = my_list.pop(index_to_remove)

print("updated list", my_list)
print("removed element",remove_element )

updated list [1, 2, 3, 4, 6, 7]
removed element 5

## 7. Check if an element exists in a list.

In [ ]:
my_list = [2,4,6,8,10]
element_to_check = 10
if element_to_check in my_list :
  print(f"'{element_to_check} exists in the list")
else :
  print(f"'{element_to_check} does not exists")

'10 exists in the list

## 8. Find the index of the first occurrence of an element in a list.

In [ ]:
my_list = [2,4,6,8,10]
element_to_find = 8

index = my_list.index(element_to_find)
print(f"The index of {element_to_find} is {index}")

The index of 8 is 3

## 9. Count the occurrences of an element in a list.

In [ ]:
my_list = [2,2,2,2,3,4,5,6,7,8]
element_to_count = 2
count = my_list.count(element_to_count)
print(f"the element {element_to_count} occurs {count} times in the list.")

the element 2 occurs 4 times in the list.

## 10. Reverse the order of elements in a list.

In [ ]:
my_list = [1,2,3,4,5,6,7,8]
my_list.reverse()
print("Reverse list:", my_list)

Reverse list: [8, 7, 6, 5, 4, 3, 2, 1]

## 11. Sort a list in ascending order.

In [ ]:
my_list= [30,4,5,60,10,30,48,1]
my_list.sort()
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [1, 4, 5, 10, 30, 30, 48, 60]

## 12. Sort a list in descending order.

In [ ]:
my_list= [30,4,5,60,10,30,48,1]
my_list.sort(reverse=True)
print("Sorted list in decending order:", my_list)

Sorted list in decending order: [60, 48, 30, 30, 10, 5, 4, 1]

## 13. Create a list of even numbers from 1 to 20.

In [ ]:
even_numbers = [x for x in range(2,30,2)]
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

## 14. Create a list of odd numbers from 1 to 20.

In [ ]:
odd_numbers = [x for x in range(1,30,2)]
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

## 16. Find the maximum value in a list.

In [ ]:
my_list = [1,45,64,7,4,23,567]
max_value = max(my_list)
print("Maximum value:", max_value)

Maximum value: 567

## 17. Find the minimum value in a list.

In [ ]:
my_list = [1,45,64,7,4,23,567]
min_value = min(my_list)
print("Minimum value:", min_value)

Minimum value: 1

## 18. Create a list of squares of numbers from 1 to 10.

In [ ]:
squares = [x ** 2 for x in range(1,11)]
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## 19. Create a list of random numbers.

In [ ]:
import random
random_intergers = [random.randint(1,100) for _ in range(10)]
print("List of random integers:", random_intergers)

List of random integers: [66, 92, 29, 35, 17, 86, 37, 39, 58, 14]

## 20. Remove duplicates from a list.

In [ ]:
my_list = [2,2,3,3,4,55,6,6,7,8,9,55,1,5]
unique_list = list(set(my_list))
print("list without duplicates:", unique_list)

list without duplicates: [1, 2, 3, 4, 5, 6, 7, 8, 9, 55]

## 21. Find the common elements between two lists.

In [ ]:
list1 = [1,2,3,4,5,6,7]
list2 = [1,3,4,6,9]

common_element = [element for element in list1 if element in list2]
print("commom elements :",common_element )

commom elements : [1, 3, 4, 6]

## 22. Find the difference between two lists.

In [ ]:
list1 = [10,20,30,40,50,60]
list2 = [30,40,50,60,70,80]
difference = list(set(list1).difference(list2))
print("Difference between list:", difference)

Difference between list: [20, 10]

## 23. Merge two lists.

In [ ]:
list1 = [10,20,30,40,50,60]
list2 = [30,40,50,60,70,80]

merged_list = list1 + list2
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60, 30, 40, 50, 60, 70, 80]

## 24. Multiply all elements in a list by 2.

In [ ]:
my_list = [5,10,15,20,25]
multiplied_list = [x *2 for x in my_list]
print("multiplied List :", multiplied_list)

multiplied List : [10, 20, 30, 40, 50]

## 25. Filter out all even numbers from a list.

In [ ]:
numbers = [1,2,3,4,5,6,7,8,9,10]
filtered_numbers = []
for number in numbers:
  if number % 2 != 0 :
    filtered_numbers.append(number)
print("Filtered numbers:", filtered_numbers)

Filtered numbers: [1, 3, 5, 7, 9]

## 26. Convert a list of strings to a list of integers.

In [ ]:
string_list = ["1","2","3","4","5"]
interger_list = [int(x)for x in string_list]
print("List of intergers", interger_list)

List of intergers [1, 2, 3, 4, 5]

## 27. Convert a list of integers to a list of strings.

In [ ]:
integer_list = [1,2,3,4,5]
string_list = [str(x)for x in integer_list]
print("List of string", string_list)

List of string ['1', '2', '3', '4', '5']

## 28. Flatten a nested list.

In [ ]:
nested_list = [[1,2],[5,6,7],[3,2],[8,9,10]]
def flatten_list(nested):
  flattened = []
  for sublist in nested:
    if isinstance(sublist, list):
      flattened.extend(flatten_list(sublist))
    else:
      flattened.append(sublist)
  return flattened

flattened_list = flatten_list(nested_list)
print("Flattened List:", flattened_list)

Flattened List: [1, 2, 5, 6, 7, 3, 2, 8, 9, 10]

## 29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
def generate_fibonacci (n):
  fibonacci_list = []
  a,b = 0,1
  for _ in range(n):
    fibonacci_list.append(a)
    a,b = b, a + b
  return fibonacci_list

first_10_fibonacci = generate_fibonacci(10)
print("First 10 fibonacci numbers:",first_10_fibonacci )

First 10 fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

## 30. Check if a list is sorted.

In [ ]:
def is_sorted_ascending(lst):
    for i in range(1,len(lst)):
      if lst[i] < lst[i-1]:
        return False
    return True

ascending_list = [2,4,6,8,10,12,14]

if is_sorted_ascending(ascending_list):
  print("The list is sorted in ascending order")
else:
  print("The list is not sorted in the ascending order")

The list is sorted in ascending order

## 31. Rotate a list to the left by `n` positions.

In [ ]:
def rotate_left (lst,n):
  n = n % len(lst)
  rotated = lst[n:] + lst[:n]
  return rotated

my_list = [1,2,3,4,5,6,7,8,9]
n = 3
rotated_list = rotate_left(my_list,n)
print("Rotated list", rotated_list)

Rotated list [4, 5, 6, 7, 8, 9, 1, 2, 3]

## 32. Rotate a list to the right by `n` positions.

In [ ]:
def rotate_right (lst,n):
  n = n % len(lst)
  rotated = lst[-n:] + lst[:-n]
  return rotated

my_list = [1,2,3,4,5,6,7,8,9]
n = 3
rotated_list = rotate_right(my_list,n)
print("Rotated list", rotated_list)

Rotated list [7, 8, 9, 1, 2, 3, 4, 5, 6]

## 33. Create a list of prime numbers up to 50.

In [ ]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number**0.5) + 1):
        if number % i == 0:
            return False
    return True
prime_numbers_up_to_50 = [num for num in range(2, 51) if is_prime(num)]
print("Prime numbers up to 50:", prime_numbers_up_to_50)

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

## 34. Split a list into chunks of size `n`.

In [ ]:
def chunk_list(input_list, chunk_size):
  return [input_list[i:i + chunk_size] for i in range(0, len(input_list), chunk_size)]

my_list = [1,2,3,4,5,6,7,8,9,10]
chunk_size = 4

result = chunk_list(my_list, chunk_size)
print(f"Original list:{my_list}")
print(f"Chunk of size : {chunk_size}: {result}")

Original list:[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Chunk of size : 4: [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10]]

## 35. Find the second largest number in a list.

In [ ]:
my_list = [30,4,6,12,56,48,98]
sorted_list = sorted(set(my_list))
if len(sorted_list) >= 2:
  second_largest = sorted_list[-2]
  print("Second largest number:", second_largest)
else:
  print("The list does not contain enough elements.")

Second largest number: 56

## 36. Replace every element in a list with its square.

In [ ]:
my_list = [12,14,16,18,20]
square_list = [x ** 2 for x in my_list]
print("Square list:", square_list)

Square list: [144, 196, 256, 324, 400]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [ ]:
my_list = ['kanpur', 'mumbai', 'delhi','nagpur', 'hyderabad', 'simla']
my_dict = {element: index for index, element in enumerate(my_list)}
print("Converted dictionary:", my_dict)

Converted dictionary: {'kanpur': 0, 'mumbai': 1, 'delhi': 2, 'nagpur': 3, 'hyderabad': 4, 'simla': 5}

## 38. Shuffle the elements of a list randomly.

In [ ]:
import random
my_list= [1,2,3,4,5,6,7,45,6,4,33,44,21]
random.shuffle(my_list)
print("Shuffle list:", my_list)

Shuffle list: [45, 6, 6, 33, 44, 21, 3, 4, 2, 1, 5, 7, 4]

## 39. Create a list of the first 10 factorial numbers.

In [ ]:
def factorial (n):
  if n == 0 or n == 1 :
    return 1
  else :
    return n * factorial (n - 1)
factorial_numbers = [factorial(i)for i in range(10)]
print("List of the first 10 factorial number:", factorial_numbers)

List of the first 10 factorial number: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

## 40. Check if two lists have at least one element in common.

In [ ]:
def has_common_element(list1,list2):
  for item in list1:
    if item in list2 :
      return True
  return False

list1 = [1,2,3,4,56]
list2 = [56,2,3,4,5]

if has_common_element(list1,list2):
  print("The list have atleast one common element")
else:
  print("The list do not have any common element")

The list have atleast one common element

## 41. Remove all elements from a list.

In [ ]:
my_list = [2,4,6,8,10]
my_list.clear()
print("Empty list:", my_list)

Empty list: []

## 42. Replace negative numbers in a list with 0.

In [ ]:
my_list= [-1,5,-10,15,-20,11,-7]
for i in range(len(my_list)):
  if my_list[i] < 0:
    my_list [i] = 0

print("List after replacing negative number with 0:", my_list)

List after replacing negative number with 0: [0, 5, 0, 15, 0, 11, 0]

## 43. Convert a string into a list of words.

In [ ]:
my_string = "Hello, what is your name?"
word_list = my_string.split()
print("List of words:", word_list)

List of words: ['Hello,', 'what', 'is', 'your', 'name?']

## 44. Convert a list of words into a string.

In [ ]:
word_list = ["Hello,", "what", "is", "your", "name?"]
my_string = " ".join(word_list)
print("Converted String:", my_string)

Converted String: Hello, what is your name?

## 45. Create a list of the first `n` powers of 2.

In [ ]:
n = 5
power_list = [2 ** i for i in range(n)]
print("List of the first", n, "power of 2:", power_list)

List of the first 5 power of 2: [1, 2, 4, 8, 16]

## 46. Find the longest string in a list of strings.

In [ ]:
string_list = ["mumbai", "delhi","Punjab", "Maharashtra"]
longest_string = ""
for s in string_list:
  if len(s) > len(longest_string):
    longest_string = s
print("Longest String:", longest_string)

Longest String: Maharashtra

## 47. Find the shortest string in a list of strings.

In [ ]:
string_list = ["mumbai", "delhi","Punjab", "Maharashtra"]
shortest_string = string_list[0]
for s in string_list:
  if len(s) < len(shortest_string):
    shortest_string = s
print("shortest String:", shortest_string)

shortest String: delhi

## 48. Create a list of the first `n` triangular numbers.

In [ ]:
def triangular_number(n):
  return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 6
triangular_list = triangular_number(n)
print("List of the first", n , "triangular numbers:", triangular_list)

List of the first 6 triangular numbers: [1, 3, 6, 10, 15, 21]

## 49. Check if a list contains another list as a subsequence.

In [ ]:
def is_subsequence(subsequence, main_list):
  subseq_index = 0
  for element in main_list:
    if element == subsequence[subseq_index]:
      subseq_index += 1
      if subseq_index == len(subsequence):
        return True
  return False

main_list = [2,4,6,8,10,12,14,16,18]
subsequence = [2,6,10]

if is_subsequence(subsequence, main_list):
  print("Main list contain the subsequence.")
else:
  print("Main list does not contain subsequence")

Main list contain the subsequence.

## 50. Swap two elements in a list by their indices.

In [ ]:
my_list = [2,4,6,8,10]
index1 = 1
index2 = 3

temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print("List after swapping elements:", my_list)

List after swapping elements: [2, 8, 6, 4, 10]

# **TOPIC - Tuple Based Practice Problem :**

## 1. Create a tuple with integers from 1 to 5.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

## 2. Access the third element of a tuple.

In [ ]:
my_tuple = (1,2,3,4,5)
third_element = my_tuple[2]
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 3

## 3. Find the length of a tuple without using the `len()` function.

In [ ]:
my_tuple = (1,2,3,4,5,6,7)
count = 0
for _ in my_tuple :
  count += 1
print("the length of the tuple is:", count)

the length of the tuple is: 7

## 4. Count the occurrences of an element in a tuple.

In [ ]:
my_tuple = (1,2,3,4,2,3,2,4,5,6,7)
element_to_count = 2
count = 0
for item in my_tuple :
  if item == element_to_count:
    count += 1
print(f" The element {element_to_count} appears {count} times in the tuple")

 The element 2 appears 3 times in the tuple

## 5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
my_tuple = (1,2,3,2,3,5,6,71)
element_to_find = 3
index = -1

for i, item in enumerate(my_tuple):
  if item == element_to_find:
    index = i
    break
if index != -1:
  print(f"The first occurance of {element_to_find} is at index {index}.")
else :
  print(f"{element_to_find} is not found in the tuple.")

The first occurance of 3 is at index 2.

## 6. Check if an element exists in a tuple.

In [ ]:
my_tuple = (2,3,4,5,6,78)
element_to_check = 78
if element_to_check in my_tuple :
  print(f"{element_to_check} exist in the tuple.")
else:
  print(f"{element_to_check} does not exist")

78 exist in the tuple.

## 7. Convert a tuple to a list.

In [ ]:
my_tuple = (1,2,3,4,5)
my_list = list(my_tuple)
print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (1, 2, 3, 4, 5)
List: [1, 2, 3, 4, 5]

## 8. Convert a list to a tuple.

In [ ]:
my_list = [1,2,3,4,5]
my_tuple = tuple(my_list)
print("list:", my_list)
print("tuple:", my_tuple)

list: [1, 2, 3, 4, 5]
tuple: (1, 2, 3, 4, 5)

## 9. Unpack the elements of a tuple into variables.

In [ ]:
my_tuple = (5,10,15)
var1, var2, var3 = my_tuple
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 5
var2: 10
var3: 15

## 10. Create a tuple of even numbers from 1 to 10.

In [ ]:
even_number_list = [num for num in range(2,11,2)]
even_number_tuple = tuple(even_number_list)
print("Tuple of even number:", even_number_tuple)

Tuple of even number: (2, 4, 6, 8, 10)

## 11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
odd_numbers = tuple(i for i in range(1, 11) if i% 2 != 0)
print(odd_numbers)

(1, 3, 5, 7, 9)

## 12. Concatenate two tuples.

## 13. Repeat a tuple three times.

In [ ]:
original_tuple = (2,4,6,8)
repeated_tuple = original_tuple * 3
print("Repeated Tuple:", repeated_tuple)

Repeated Tuple: (2, 4, 6, 8, 2, 4, 6, 8, 2, 4, 6, 8)

## 14. Check if a tuple is empty.

In [ ]:
empty_tuple = ()
non_empty_tuple = (2,4,6)
if not empty_tuple:
  print("The empty_tuple is empty")
else:
  print("The empty_tuple is not empty")

if not non_empty_tuple :
  print("The non_empty_tuple is empty")
else :
  print("The non_empty_tuple is not empty")

The empty_tuple is empty
The non_empty_tuple is not empty

## 15. Create a nested tuple.

In [ ]:
nested_tuple = ((2,4,6), ('q', 'bd', 'e'), (True, False))
print("Nested Tuple:", nested_tuple)

Nested Tuple: ((2, 4, 6), ('q', 'bd', 'e'), (True, False))

## 16. Access the first element of a nested tuple.

In [ ]:
nested_tuple = ((2,4,6), ('q', 'bd', 'e'), (True, False))
first_element = nested_tuple[0]
print("First element of the nested Tuple:", first_element)

First element of the nested Tuple: (2, 4, 6)

##17. Create a tuple with a single element.

In [ ]:
single_element_tuple = (21)
print("single element tuple:", single_element_tuple)

single element tuple: 21

## 18. Compare two tuples.

In [ ]:
tuple1 = (2,3,4)
tuple2 = (2,3,5)
print("tuple1 == tuple2:", tuple1 == tuple2)
print("tuple1 != tuple2:", tuple1 != tuple2)
print("tuple1 < tuple2:", tuple1 < tuple2)
print("tuple1 <= tuple2:", tuple1 <= tuple2)
print("tuple1 > tuple2:", tuple1 > tuple2)
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

## 19. Delete a tuple.

In [ ]:

my_tuple = (1, 2, 3, 4, 5)

del my_tuple

## 20. Slice a tuple.

In [ ]:
my_tuple = [2,4,6,8,10,12,14,16,18,20]
sliced_tuple = my_tuple[2:5]
print("sliced tuple:", sliced_tuple)

sliced tuple: [6, 8, 10]

## 21. Find the maximum value in a tuple.

In [ ]:
my_tuple = (234,432,567,1,986)
max_value = max(my_tuple)
print("Maximun Value:", max_value)

Maximun Value: 986

## 22. Find the minimum value in a tuple.

In [ ]:
my_tuple = (234,432,567,1,986)
min_value = min(my_tuple)
print("Minimun Value:", min_value)

Minimun Value: 1

## 23. Convert a string to a tuple of characters.

In [ ]:
my_string = "Hey, Abhishek!"
tuple_of_character = tuple(my_string)
print("Tuple of character:",tuple_of_character )

Tuple of character: ('H', 'e', 'y', ',', ' ', 'A', 'b', 'h', 'i', 's', 'h', 'e', 'k', '!')

## 24. Convert a tuple of characters to a string.

In [ ]:
tuple_of_character = ('H', 'e', 'y', ',', ' ', 'A', 'b', 'h', 'i', 's', 'h', 'e', 'k', '!')
string_from_tuple = ''.join(tuple_of_character)
print("string_from_tuple:", string_from_tuple)

string_from_tuple: Hey, Abhishek!

## 25. Create a tuple from multiple data types.

In [ ]:
mixed_tuple = (1, "Abhishek", 345, True)
print(mixed_tuple)

(1, 'Abhishek', 345, True)

## 26. Check if two tuples are identical.

In [ ]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
tuple3 = (1,2,3)

are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: False
tuple1 and tuple3 are identical: True

## 27. Sort the elements of a tuple.

In [ ]:
my_tuple = (4,1,3,2,6,8,7,9)
sorted_tuple = tuple(sorted(my_tuple))
print("Sorted Tuple", sorted_tuple)

Sorted Tuple (1, 2, 3, 4, 6, 7, 8, 9)

## 28. Convert a tuple of integers to a tuple of strings.

In [ ]:
tuple_of_integers = (1,2,3,4,5,6,7)
tuple_of_string = tuple(str(item) for item in tuple_of_integers)
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5', '6', '7')

## 29. Convert a tuple of strings to a tuple of integers.

In [ ]:
tuple_of_strings = ('1', '2','3','4','5')
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)
print("tuple of integers:", tuple_of_integers)

tuple of integers: (1, 2, 3, 4, 5)

## 30. Merge two tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
merged_tuple = tuple1 + tuple2
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

## 31. Flatten a nested tuple.

In [ ]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple :
      if isinstance(item, tuple):
        flattened.extend(flatten_tuple(item))
      else:
        flattened.append(item)
    return flattened
nested_tuple = ((1,2), (34,35,36), (89,(90,91,93)))

flattened_tuple = tuple(flatten_tuple(nested_tuple))
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 34, 35, 36, 89, 90, 91, 93)

## 32. Create a tuple of the first 5 prime numbers.

In [ ]:
def is_prime(num):
  if num <= 1:
    return False
  for i in range (2, int(num ** 0.5) + 1):
    if num % i == 0 :
      return False
  return True

prime_numbers_list = [num for num in range(2,50) if is_prime(num)][:5]
prime_number_tuple = tuple(prime_numbers_list)
print("Tuple of the first 5 prime number:", prime_number_tuple)

Tuple of the first 5 prime number: (2, 3, 5, 7, 11)

## 33. Check if a tuple is a palindrome.

In [ ]:
def is_palindrome(tup):
  return tup == tup[::-1]

palindrome_tuple = (1,2,3,2,1)
non_palindrome_tuple = (1,2,3,4,5,6)

is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

print("panlindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

panlindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

## 34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
square_tuple = tuple(x ** 2 for x in range (1,6))
print("Tuple of square:", square_tuple)

Tuple of square: (1, 4, 9, 16, 25)

## 35. Filter out all even numbers from a tuple.

In [ ]:
original_tuple = (1,2,3,4,7,9,33,42,56,57,59,99)
filtered_tuple = tuple( num for num in original_tuple if num % 2 != 0)
print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 7, 9, 33, 57, 59, 99)

## 36. Multiply all elements in a tuple by 2.

In [ ]:
original_tuple = (1,2,3,4,5)
doubled_tuple = tuple(num * 2 for num in original_tuple)
print("double tuple:", doubled_tuple)

double tuple: (2, 4, 6, 8, 10)

## 37. Create a tuple of random numbers.

In [ ]:
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(10))
print("Randon tuple:", random_tuple)

Randon tuple: (65, 74, 65, 7, 35, 6, 46, 70, 66, 99)

## 38. Check if a tuple is sorted.

In [ ]:
def is_sorted(tup):
  for i in range(len(tup) - 1):
    if tup[i] > tup[i + 1]:
      return False
  return True

sorted_list = (1,2,3,4,5)
unsorted_list = (5,32,4,9,6,2)

is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

## 39. Rotate a tuple to the left by `n` positions.

In [ ]:
def rotate_tuple_left(tup, n):
  n = n % len(tup)
  rotate_tuple = tup[n:] + tup[:n]
  return rotate_tuple

my_tuple = (1,2,3,4,5,6,7)
n_postion = 3
result = rotate_tuple_left(my_tuple, n_postion)
print(result)

(4, 5, 6, 7, 1, 2, 3)

## 40. Rotate a tuple to the right by `n` positions.

In [ ]:
def rotate_tuple_right(tup, n):
  n = n % len(tup)
  rotate_tuple = tup[-n:] + tup[:-n]
  return rotate_tuple

my_tuple = (1,2,3,4,5)
n_postion = 2
result = rotate_tuple_right(my_tuple, n_postion)
print(result)

(4, 5, 1, 2, 3)

## 41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
def generate_fibonacci(n):
  fibonacci = [0,1]
  while len(fibonacci) < n :
    next_number = fibonacci[-1] + fibonacci [-2]
    fibonacci.append(next_number)
  return tuple(fibonacci)
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

## 42. Create a tuple from user input.

In [ ]:
input_str = input("Enter element seperated by commas: ")
input_list = input_str.split(',')
user_tuple = tuple(input_list)
print("User input tuple:", user_tuple)

Enter element seperated by commas: Hey, Abhishek
User input tuple: ('Hey', ' Abhishek')

## 43. Swap two elements in a tuple.

In [ ]:
my_tuple = (1,2,3,4,5)
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

## 44. Reverse the elements of a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
reversed_tuple = my_tuple[::-1]
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

## 45. Create a tuple of the first `n` powers of 2.

In [ ]:
n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

## 46. Find the longest string in a tuple of strings.

In [ ]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
longest_string = max(string_tuple, key=len)
print("Longest string:", longest_string)

Longest string: watermelon

## 47. Find the shortest string in a tuple of strings.

In [ ]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
shortest_string = min(string_tuple, key=len)
print("shortest string:", shortest_string)

shortest string: kiwi

## 48. Create a tuple of the first `n` triangular numbers.

In [ ]:
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n+1))
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

## 49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
def contains_subsequence(main_tuple , sub_tuple):
  sub_length = len(sub_tuple)
  for i in range(len(main_tuple)- sub_length + 1):
    if main_tuple [i:i+sub_length] == sub_tuple:
      return True
  return False

main_tuple = (1,2,3,4,5,6,7,8)
sub_tuple = (3,4,5,6)

check_subseq = contains_subsequence(main_tuple, sub_tuple)
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

## 50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
n = 10
alternating_tuple = tuple( i % 2 for i in range(n))
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# **TOPIC - Set Based Practice Problem :**

## 1. Create a set with integers from 1 to 5.

In [ ]:
my_set = set()
my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

print(my_set)

{1, 2, 3, 4, 5}

## 2. Add an element to a set.

In [ ]:
my_set = {1,2,3,4}
print("Original set:", my_set)
element_to_add = 10
my_set.add(element_to_add)
print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4}
Set after adding element: {1, 2, 3, 4, 10}

## 3. Remove an element from a set.

In [ ]:
my_set = {2,4,6,8,10}
print("Original set :", my_set)
element_to_remove = 8
my_set.remove(element_to_remove)
print("Set after removing", element_to_remove, ":", my_set)

Original set : {2, 4, 6, 8, 10}
Set after removing 8 : {2, 4, 6, 10}

## 4. Check if an element exists in a set.

In [ ]:
my_set = {1,3,4,2,5,7,9}
element_to_check = int(input("Enter the element to check: "))
if element_to_check in my_set:
  print(f"{element_to_check} exists in the set.")
else:
  print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  3
3 exists in the set.

## 5. Find the length of a set without using the `len()` function.

In [ ]:
my_set = {2,4,6,8,10}
count = 0
for _ in my_set :
  count += 1
print("Length of the set:", count)

Length of the set: 5

## 6. Clear all elements from a set.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
my_set.clear()
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

## 7. Create a set of even numbers from 1 to 10.

In [ ]:
even_number_set = set()
for num in range(1, 11):
  if num % 2 == 0 :
    even_number_set.add(num)
print(even_number_set)

{2, 4, 6, 8, 10}

## 8. Create a set of odd numbers from 1 to 10.

In [ ]:
even_number_set = set()
for num in range(1, 11):
  if num % 2 != 0 :
    even_number_set.add(num)
print(even_number_set)

{1, 3, 5, 7, 9}

## 9. Find the union of two sets.

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

union_result = set1.union(set2)

print("Set 1 :", set1)
print("set 2 :", set2)
print("Union of set 1 and set 2:", union_result)

Set 1 : {1, 2, 3, 4, 5}
set 2 : {4, 5, 6, 7, 8}
Union of set 1 and set 2: {1, 2, 3, 4, 5, 6, 7, 8}

## 10. Find the intersection of two sets.

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

union_result = set1.intersection(set2)

print("Set 1 :", set1)
print("set 2 :", set2)
print("Union of set 1 and set 2:", union_result)

Set 1 : {1, 2, 3, 4, 5}
set 2 : {4, 5, 6, 7, 8}
Union of set 1 and set 2: {4, 5}

## 11. Find the difference between two sets.

In [ ]:
# Create two sets
set1 = {1, 2, 3}
set2 = {3,4,5}

# Find the difference between the sets using the difference() method
difference_set = set1.difference(set2)

# Print the original sets and the difference set
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Difference: {1, 2}

## 12. Check if a set is a subset of another set.

In [ ]:
set1 = {1,2,3,4}
set2 = {1,2,3,4,5,6,7}
is_subset = set1.issubset(set2)
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

## 13. Check if a set is a superset of another set.

In [ ]:
set1 = {1,2,3,4,5,6}
set2 = {1,2}
is_superset = set1.issuperset(set2)
if is_superset:
  print("set1 is a superset of set2")
else:
  print("set1 is not a superset of set2")

set1 is a superset of set2

## 14. Create a set from a list.

In [ ]:
my_list = [ 2,3,5,6,7,3,4,5]
my_set = set(my_list)
print("Original list:", my_list)
print("Set from list:", my_set)

Original list: [2, 3, 5, 6, 7, 3, 4, 5]
Set from list: {2, 3, 4, 5, 6, 7}

## 15. Convert a set to a list.

In [ ]:
my_set = {2,3,5,6,7,3,4,5}
my_list = list(my_set)
print("Original set:",my_set)
print("list from set:", my_list)

Original set: {2, 3, 4, 5, 6, 7}
list from set: [2, 3, 4, 5, 6, 7]

## 16. Remove a random element from a set.

In [ ]:
import random

my_set = {1,2,3,4,5,6}
print("Original set:", my_set)
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("Update set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5, 6}
Update set after removing 6 : {1, 2, 3, 4, 5}

## 17. Pop an element from a set.

In [ ]:
my_set = {1,2,3,4,5,6}
print("Original set :", my_set)
popped_element = my_set.pop()
print("Popped element:", popped_element)
print("set after popping:", my_set)

Original set : {1, 2, 3, 4, 5, 6}
Popped element: 1
set after popping: {2, 3, 4, 5, 6}

## 18. Check if two sets have no elements in common.

In [ ]:
set1 = {1,2,3,4}
set2 = {5,6,7,8}
common_elements = set1.intersection(set2)
if not common_elements:
  print("The two sets have no element in common.")
else :
  print("The two sets have common element:", common_elements)

The two sets have no element in common.

## 19. Find the symmetric difference between two sets.

In [ ]:
set1 = {1,2,3,4,5,6}
set2 = {4,5,6,7,8,9}
symmetric_difference = set1 ^ set2
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 7, 8, 9}

## 20. Update a set with elements from another set.

In [ ]:
set1 = {2,4,6}
print("Set 1:", set1)
set2 = {6,8,10}
print("Set 2:", set2)

set1.update(set2)
print("Update Set 1:", set1)

Set 1: {2, 4, 6}
Set 2: {8, 10, 6}
Update Set 1: {2, 4, 6, 8, 10}

## 21. Create a set of the first 5 prime numbers.

In [ ]:
def is_prime (num):
  if num <= 1:
    return False
  for i in range(2, int(num ** 0.5) + 1):
    if num % i == 0 :
      return False
  return True

prime_set = set()
num = 2

while len(prime_set) < 5:
  if is_prime(num):
    prime_set.add(num)
  num += 1

print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

## 22. Check if two sets are identical.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

## 23. Create a frozen set.

In [ ]:
elements = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(elements)

print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

## 24. Check if a set is disjoint with another set.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

disjoint_status = set1.isdisjoint(set2)
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

## 25. Create a set of squares of numbers from 1 to 5.

In [ ]:
squares_set = set()
for num in range(1, 6):
  square = num ** 2
  squares_set.add(square)
print(squares_set)

{1, 4, 9, 16, 25}

## 26. Filter out all even numbers from a set.

In [ ]:
original_set = {1,2,3,4,5,6,7}
even_numbers_set = set()
for num in original_set :
  if num % 2 == 0 :
    even_numbers_set.add(num)
print("Original set:", original_set)
print("Even Number set:", even_numbers_set)

Original set: {1, 2, 3, 4, 5, 6, 7}
Even Number set: {2, 4, 6}

## 27. Multiply all elements in a set by 2.

In [ ]:
original_set = {1,2,3,4,5}
multiplied_set = set()
for num in original_set:
  multiplied_num = num * 2
  multiplied_set.add(multiplied_num)
print("Original set:", original_set)
print("Multiplied set:", multiplied_set)

Original set: {1, 2, 3, 4, 5}
Multiplied set: {2, 4, 6, 8, 10}

## 28. Create a set of random numbers.

In [ ]:
import random
num_random_numbers = 7
random_number_set = set()
for _ in range(num_random_numbers):
  random_num = random.randint(1, 100)
  random_number_set.add(random_num)
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {43, 78, 46, 21, 23, 89, 59}

## 29. Check if a set is empty.

In [ ]:
my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

## 30. Create a nested set (hint: use frozenset).

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

# 31. Remove an element from a set using the discard method.

In [ ]:
my_set = {1, 2, 3, 4, 5}
print("Initial set:", my_set)
element_to_remove = 3

my_set.discard(element_to_remove)
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

## 32. Compare two sets.

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)

print("Set1:",set1)
print("Set2:",set2)
print("Is set1 is a subset of set2?", is_subset)
print("Is set2 is a superset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Element in set1 but not in set2:", difference1)
print("Element in set2 but not in set1:", difference2)

Set1: {1, 2, 3, 4, 5}
Set2: {4, 5, 6, 7, 8}
Is set1 is a subset of set2? False
Is set2 is a superset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Element in set1 but not in set2: {1, 2, 3}
Element in set2 but not in set1: {8, 6, 7}

## 33. Create a set from a string.

In [ ]:
input_string = "Abhishek"
char_set = set(input_string)
print(char_set)

{'h', 'k', 'b', 'e', 'A', 's', 'i'}

## 34. Convert a set of strings to a set of integers.

In [ ]:
string_set = {"123" , "456", "789"}
integer_set = set()
for string in string_set:
  integer_value = int(string)
  integer_set.add(integer_value)
print("Original string Set:", string_set)
print("Converted Integer Set:", integer_set)

Original string Set: {'123', '456', '789'}
Converted Integer Set: {456, 123, 789}

## 35. Convert a set of integers to a set of strings.

In [ ]:
integer_set = {1,2,3,4,5}
string_set = set()
for num in integer_set :
  num_str = str(num)
  string_set.add(num_str)
print("Original integer_set:", integer_set)
print("Converted string_set:", string_set)

Original integer_set: {1, 2, 3, 4, 5}
Converted string_set: {'4', '2', '5', '1', '3'}

## 36. Create a set from a tuple.

In [ ]:
input_tuple = (1,2,4,3,4,3,6,5,7)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5, 6, 7}

## 37. Convert a set to a tuple.

In [ ]:
input_set = {1,2,3,4,5,6}
output_tuple = tuple(input_set)
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5, 6}
Converted tuple: (1, 2, 3, 4, 5, 6)

## 38. Find the maximum value in a set.

In [ ]:
my_set = {23,12,45,87,95,100}
max_value = None
for num in my_set:
  if max_value is None or num > max_value:
    max_value = num
print("Maximun Value:", max_value)

Maximun Value: 100

## 39. Find the minimum value in a set.

In [ ]:
my_set = {23,12,45,87,95,100}
min_value = None
for num in my_set:
  if min_value is None or num < min_value:
    min_value = num
print("Manimum Value:", min_value)

Manimum Value: 12

## 40. Create a set from user input.

In [ ]:
user_set = set()
print("Enter elements for the set (type 'done' to finish):")
while True:
  user_input = input("> ")

  if user_input.lower() == 'done':
    break
  user_set.add(user_input)
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):
> abhishek
> data scine
> nagpur
> orange
> done
Final set: {'orange', 'data scine', 'abhishek', 'nagpur'}

## 41. Check if the intersection of two sets is empty.

In [ ]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
intersection_reseult = set1.intersection(set2)
if not intersection_result:
  print("The intersection of the two sets is empty")
else:
  print("The intersection of the two set is not empty")

The intersection of the two set is not empty

## 42. Create a set of the first 5 Fibonacci numbers.

In [ ]:
fibonacci_set = set()
a,b = 0,1
for _ in range(6):
  fibonacci_set.add(a)
  a,b = b, a + b
print("set of the first 5 Fibonacci numbers:",fibonacci_set )

set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

## 43. Remove duplicates from a list using sets.

In [ ]:
original_list = [1,2,3,4,2,4,5,6,7,3,5,4,7,8,9]
unique_set = set(original_list)
unique_list = list(unique_set)
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [1, 2, 3, 4, 2, 4, 5, 6, 7, 3, 5, 4, 7, 8, 9]
List with Duplicates Removed: [1, 2, 3, 4, 5, 6, 7, 8, 9]

## 44. Check if two sets have the same elements, regardless of their count.

In [ ]:
def have_same_element(set1,set2):
  sorted_list = sorted(list(set1))
  sorted_list = sorted(list(set2))
  return sorted_list1 == sorted_list2

set1 = {1,2,3,2,1}
set2 = {3,1,2}

result = have_same_elements(set1, set2)

if result:
  print("The sets have the same elements.")
else:
  print("The sets do not have the same elements.")

The sets have the same elements.

## 45. Create a set of the first `n` powers of 2.

In [ ]:
def generate_powers_of_2(n):
  powers_of_2 = set()
  for i in range(n):
    power = 2 ** i

    powers_of_2.add(power)
  return powers_of_2

n = 5

powers_set = generate_powers_of_2(n)
print(powers_set)

{1, 2, 4, 8, 16}

## 46. Find the common elements between a set and a list.

In [ ]:
my_set = {3,5,6,2,18,8,9}
my_list = [2,18,8,9]
list_to_set = set(my_list)
common_elements = []
for element in my_set:
  if element in list_to_set:
    common_elements.append(element)
print("Common elements:", common_elements)

Common elements: [2, 18, 8, 9]

## 47. Create a set of the first `n` triangular numbers.

In [ ]:
def generate_triangular_numbers(n):
  triangular_numbers = set()
  for i in range(1, n + 1):
    triangular_number = i * (i + 1) // 2
    triangular_numbers.add(triangular_number)
  return triangular_numbers
n = int(input("enter the value of n :"))
triangular_set = generate_triangular_numbers(n)
print(f"The set of the first {n} triangular numbers is:", triangular_set)

enter the value of n :12
The set of the first 12 triangular numbers is: {1, 66, 3, 36, 6, 10, 45, 78, 15, 21, 55, 28}

## 48. Check if a set contains another set as a subset.

In [ ]:

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

## 49. Create a set of alternating 1s and 0s of length `n`.

In [ ]:
def create_alternating_set(n):
  alternating_set = set()
  for i in range(n):
    if i % 2 == 0:
      alternating_set.add(1)
    else :
      alternating_set.add(0)
  return alternating_set

length_n= 10
result = create_alternating_set(length_n)
print(result)

{0, 1}

## 50. Merge multiple sets into one.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}